
   .limit-register-button {
    
    border-radius: 10px;
    background-color: rgb(210, 171, 73);
    outline: none;
    position: relative;
   
   }
  
  
  .limit-register-button:hover {
    
    background-color: green;
  }
  
  .modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .modal_content {
    z-index: 1; 
    background-color: rgb(232, 232, 232);
    color: blue;
    position: absolute;
    top: 45%;
    left: 33%;
    width: 35%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
  }
  
